[buildout]

extends = etc/ldap.cfg

parts = 
#    database
    instance
    test
    coverage
    openldap
    python-ldap
    py
    testldap


eggs-directory = ${buildout:directory}/eggs
develop = .
versions=versions
extensions = 
    mr.developer
sources = sources
sources-dir = ${buildout:directory}/devsrc
auto-checkout = *


[instance]
recipe = zc.recipe.egg:scripts
dependent-scripts = true
initialization =
    import os
    os.environ['APP_PATH'] = '${buildout:directory}'
eggs =
    c3s.app


[versions]
pyramid = 1.1
Chameleon = 2.4.5


[sources]
node                        = git git@github.com:bluedynamics/node.git
node.ext.ugm                = git git@github.com:bluedynamics/node.ext.ugm.git
node.ext.ldap               = git git@github.com:bluedynamics/node.ext.ldap.git
yafowil                     = git git@github.com:bluedynamics/yafowil.git
yafowil.yaml                = git git@github.com:bluedynamics/yafowil.yaml.git
yafowil.webob               = git git@github.com:bluedynamics/yafowil.webob.git
yafowil.widget.datetime     = git git@github.com:bluedynamics/yafowil.widget.datetime.git
yafowil.widget.richtext     = git git@github.com:bluedynamics/yafowil.widget.richtext.git
yafowil.widget.dict         = git git@github.com:bluedynamics/yafowil.widget.dict.git
yafowil.widget.array        = git git@github.com:bluedynamics/yafowil.widget.array.git
yafowil.widget.autocomplete = git git@github.com:bluedynamics/yafowil.widget.autocomplete.git
yafowil.widget.dynatree     = git git@github.com:bluedynamics/yafowil.widget.dynatree.git
cone.tile                   = git git@github.com:bluedynamics/cone.tile.git
cone.app                    = git git@github.com:bluedynamics/cone.app.git
cone.ugm                    = git git@github.com:bluedynamics/cone.ugm.git


#[database]
#recipe = z3c.recipe.mkdir
#paths =
#    ${buildout:directory}/var/filestorage
#    ${buildout:directory}/var/sqlite


[testenv]
APP_PATH = ${buildout:directory}


[test]
recipe = zc.recipe.testrunner
eggs =
    cone.tile[test]
    cone.app[test]
    cone.ugm[test]

environment = testenv
defaults = ['--auto-color', '--auto-progress']


[coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh
    ./bin/test --coverage ../../coverage -v --auto-progress "$@"
output = ${buildout:directory}/bin/coverage
mode = 755
